ol {
  list-style: decimal !important;
  margin-left: 2rem !important;
}

.word-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-container {
  max-width: 300px;
  width: 100%;
  align-self: end;
}

html {
  cursor: url("cursor.png"), auto
}
